<div class="page-header component-holder" data-component="crn-header" id="crn-header-165569">
  <h1 class="component-holder text-center" xattr-position="text-center" data-component="crn-title" id="crn-title8771">PayPal</h1>
</div>
<div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-933744">
  <button class="btn k-button btn-block btn-info" ng-click="cronapi.server('blockly.Paypal.token').run()" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-info" xattr-disabled=""><i class="glyphicon glyphicon-home"></i> <span>Token</span></button>
</div>
<div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-407995">
  <button class="btn btn-default k-button btn-block" ng-click="cronapi.server('blockly.PayPal.paypal').run()" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><i class="glyphicon glyphicon-home"></i> <span>Servidor</span></button>
</div>
<div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-68373">
  <button class="btn k-button btn-block btn-success" ng-click="cronapi.client('js.blockly.PayPal.Executar').run()" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-success" xattr-disabled=""><i class="glyphicon glyphicon-home"></i> <span>Cliente</span></button>
</div>