<div class="jumbotron jumbotron-fluid main-title">
    <h2 class="component-holder text-left" xattr-position="text-left" data-component="crn-subtitle" id="crn-subtitle-814474">NextMobiSignup</h2>
</div>
<div class="component-holder ng-binding ng-scope crn-navigator-horizontal" data-component="crn-navbar" id="crn-navbar-986427">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="component-holder ng-binding ng-scope navbar-brand" data-component="crn-image" href="#/home"> <img src="plugins/cronapp-framework-js/dist/img/logo.svg" style="width:101px; margin-top:-4px" id="crn-navbar-logo" data-component="crn-image"> </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float:none">
          <li class="dropdown component-holder" data-component=""> <a href="#/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-lg fa-home"></i> <span>{{"Home.view.Home" | translate}}</span> </a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div ui-view="" class="container-fluid main-view main-view-horizontal" data-container="true" data-replace="false"><div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-679187"><button class="btn btn-default k-button btn-block" ng-click="cronapi.server('blockly.ModalPublic.Executar').run()" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><i class="glyphicon glyphicon-home"></i> <span>Button </span></button></div></div> 
<div class="modal fade" id="modal63944">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="component-holder modal-header">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">Acessar Sistema</div>
       </div>
      </div>
      <div class="modal-body">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="false"><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-653355"><div class="form-group"><label for="input413">Login</label><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.login" class="form-control k-textbox" id="input413" placeholder="login"></div></div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-477729"><div class="form-group"><label for="input6396">PassWord</label><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.senha" class="form-control k-textbox" id="input6396" placeholder="password"></div></div></div>
       </div>
     </div>
     <div class="modal-footer">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">FOOTER</div>
       </div>
     </div>
   </div>
 </div>
</div>
